<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html>
<head>
<title>Smart Shop a Ecommerce Online Shopping Category Flat Bootstrap Responsive Website Template | Home :: w3layouts</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Smart Shop Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="{% static 'shop/css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
<!-- pignose css -->
<link href="{% static 'shop/css/pignose.layerslider.css' %}" rel="stylesheet" type="text/css" media="all" />


<!-- //pignose css -->
<link href="{% static 'shop/css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<!-- js -->
<script type="text/javascript" src="{% static 'shop/js/jquery-2.1.4.min.js' %}"></script>
<!-- //js -->
<!-- cart -->
	<script src="{% static 'shop/js/simpleCart.min.js' %}"></script>
<!-- cart -->
<!-- for bootstrap working -->
	<script type="text/javascript" src="{% static 'shop/js/bootstrap-3.1.1.min.js' %}"></script>
<!-- //for bootstrap working -->
<link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,900,900italic,700italic' rel='stylesheet' type='text/css'>
<script src="{% static 'shop/js/jquery.easing.min.js' %}"></script>
</head>
<body>
<!-- header -->
<div class="header">
	<div class="container">
		<ul> 
		    <li><span class="glyphicon glyphicon-time" aria-hidden="true"></span><a href="{% url 'logout' %}">Logout</a></li>
			<li><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>Free shipping On all orders</li>
			<li><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span><a href="mailto:smartshoponline320@gmail.com">smartshoponline320@gmail.com</a></li>
		</ul>
	</div>
</div>
<!-- //header -->
<!-- header-bot -->
<div class="header-bot">
	<div class="container">
		<div class="col-md-3 header-left">
			<h1><a href="{% url 'index' %}"><img src="{% static 'shop/images/logo3.jpg' %} "></a></h1>
		</div>
		<div class="col-md-6 header-middle">
			
		</div>
		<div class="col-md-3 header-right footer-bottom">
			<ul>
				
				<li><a class="fb" href="https://www.facebook.com/"></a></li>
				<li><a class="twi" href="https://www.twitter.com/"></a></li>
				<li><a class="insta" href="https://www.instagram.com/"></a></li>
				<li><a class="you" href="https://www.youtube.com/"></a></li>
			</ul>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<!-- //header-bot -->
<!-- banner -->
<div class="ban-top">
	<div class="container">
		<div class="top_nav_left">
			<nav class="navbar navbar-default">
			  <div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
				  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse menu--shylock" id="bs-example-navbar-collapse-1">
				  <ul class="nav navbar-nav menu__list">
					<li class="active menu_item menuitem--current"><a class="menu_link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a></li>
					<li class=" menu_item"><a class="menu_link" href="{% url 'mens' %}">Mens</a></li>
					<li class=" menu_item"><a class="menu_link" href="{% url 'womens' %}">Womens</a></li>
					<li class=" menu_item"><a class="menu_link" href="{% url 'electronics' %}">Electronics</a></li>
					<li class=" menu_item"><a class="menu_link" href="{% url 'contact' %}">Contact</a></li>
					<li class=" menu_item"><a class="menu_link" href="{% url 'profile' %}">Profile</a></li>

				  </ul>
				</div>
			  </div>
			</nav>	
		</div>
		<div class="top_nav_right">
			<div class="cart box_1">
						<a href="{% url 'showcart' %}">
							<h3> <div >
								<i class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></i>
								<span> </span> items</div>
								
							</h3>
						</a>
						<p>Cart Items</a></p>
						
			</div>	
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<!-- //banner-top -->
<!-- banner -->
<div class="banner-grid">
	<div id="visual">
			<div class="slide-visual">
				<!-- Slide Image Area (1000 x 424) -->
				<ul class="slide-group">
					<li><img class="img-responsive" src="{% static 'shop/images/ba1.jpg' %}" alt="Dummy Image" /></li>
					<li><img class="img-responsive" src="{% static 'shop/images/ba2.jpg' %}" alt="Dummy Image" /></li>
					<li><img class="img-responsive" src="{% static 'shop/images/ba3.jpg' %}" alt="Dummy Image" /></li>
				</ul>

				<!-- Slide Description Image Area (316 x 328) -->
				<div class="script-wrap">
					<ul class="script-group">
						<li><div class="inner-script"><img class="img-responsive" src="{% static 'shop/images/baa1.jpg' %}" alt="Dummy Image" /></div></li>
						<li><div class="inner-script"><img class="img-responsive" src="{% static 'shop/images/baa2.jpg' %}" alt="Dummy Image" /></div></li>
						<li><div class="inner-script"><img class="img-responsive" src="{% static 'shop/images/baa3.jpg' %}" alt="Dummy Image" /></div></li>
					</ul>
					<div class="slide-controller">
						<a href="#" class="btn-prev"><img src="{% static 'shop/images/btn_prev.png' %}" alt="Prev Slide" /></a>
						<a href="#" class="btn-play"><img src="{% static 'shop/images/btn_play.png' %}" alt="Start Slide" /></a>
						<a href="#" class="btn-pause"><img src="{% static 'shop/images/btn_pause.png' %}" alt="Pause Slide" /></a>
						<a href="#" class="btn-next"><img src="{% static 'shop/images/btn_next.png' %}" alt="Next Slide" /></a>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="clearfix"></div>
		</div>
	<script type="text/javascript" src="{% static 'shop/js/pignose.layerslider.js' %}"></script>
	<script type="text/javascript">
	//<![CDATA[
		$(window).load(function() {
			$('#visual').pignoseLayerSlider({
				play    : '.btn-play',
				pause   : '.btn-pause',
				next    : '.btn-next',
				prev    : '.btn-prev'
			});
		});
	//]]>
	</script>

</div>
 <!-- //banner -->
    <div class="container my-5">
    <div class="row">
    <br>
    
    <h1 class="text-center">You Have no Product in Your Cart</h1>
    <br>
    <br>
    <div class="text-center">
    <img src="{% static  'shop/images/CART.png' %}" alt="" class="img-fluid img-thumbnail w-5" >
    </div>
    </div>
    </div>
    <br>
    <br>
    <br>
    <br>

 <!-- footer -->
<div class="footer">
	<div class="container">
		<div class="col-md-3 footer-left">
			<h2><a href="{% url 'index' %}"><img src="{% static 'shop/images/logo3.jpg' %}" alt=" " /></a></h2>
			<p>Smart Shop does not only sell clothing but also shoes. It covers a wide range of fashion items. The site offers a customer service number, which means it’s priority is customer satisfaction.</p>
		</div>
		<div class="col-md-9 footer-right">
			
			<div class="clearfix"></div>
			<div class="sign-grds">
				<div class="col-md-4 sign-gd">
					<h4>Information</h4>
					<ul>
						<li><a href="{% url 'index' %}">Home</a></li>
						<li><a href="{% url 'mens' %}">Men's Wear</a></li>
						<li><a href="{% url 'womens' %}">Women's Wear</a></li>
						<li><a href="{% url 'electronics' %}">Electronics</a></li>
						<li><a href="{% url 'contact' %}">Contact</a></li>
						<li><a href="{% url 'profile' %}">Profile</a></li>
					</ul>
				</div>
				{% for data in H %}
				<div class="col-md-4 sign-gd-two">
					<h4>Store Information</h4>
					<ul>
						<li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>Address :  {{ data.address}}, <span> {{ data.city}}.</span></li>
						<li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i>Email : <a href="mailto:smartshoponline320@gmail.com"> {{ data.email1}}</a></li>
						<li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>Phone :  {{ data.phone1}}</li>
					</ul>
				</div>
				{% endfor %}
				<div class="col-md-4 sign-gd flickr-post">
					<h4>Flickr Posts</h4>
					<ul>
						<li><a href="{% url 'electronics' %}"><img src="{% static 'shop/images/b15.jpg' %}" alt=" " class="img-responsive" /></a></li>
						<li><a href="{% url 'electronics' %}"><img src="{% static 'shop/images/b16.jpg' %}" alt=" " class="img-responsive" /></a></li>
						<li><a href="{% url 'electronics' %}"><img src="{% static 'shop/images/b17.jpg' %}" alt=" " class="img-responsive" /></a></li>
						<li><a href="{% url 'electronics' %}"><img src="{% static 'shop/images/b18.jpg' %}" alt=" " class="img-responsive" /></a></li>
						<li><a href="{% url 'electronics' %}"><img src="{% static 'shop/images/b15.jpg' %}" alt=" " class="img-responsive" /></a></li>
						<li><a href="{% url 'electronics' %}"><img src="{% static 'shop/images/b16.jpg' %}" alt=" " class="img-responsive" /></a></li>
						<li><a href="{% url 'electronics' %}"><img src="{% static 'shop/images/b17.jpg' %}" alt=" " class="img-responsive" /></a></li>
						<li><a href="{% url 'electronics' %}"><img src="{% static 'shop/images/b18.jpg' %}" alt=" " class="img-responsive" /></a></li>
						<li><a href="{% url 'electronics' %}"><img src="{% static 'shop/images/b15.jpg' %}" alt=" " class="img-responsive" /></a></li>
					</ul>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<!-- //footer -->
</body>
</html>